<header>
    <span class="logo">
        <img src="/images/logo.svg" alt="The Scribbler">
        <span class="issue">Issue No 1</span>
        <span class="date">October 12, 2013</span>
    </span>
    <img src="/images/hamburger.svg" alt="" class="hamburger">
</header>
<p>
	Something Something Somet hing So mething Something Something Something Something Something Something Someth ing Something Something Some thing Something Something Somethi ng Something Something Something Something Something Something Something Something Something Something Something Something Something Something Something Something Something Something Something Something Something Something Something Something Something Something Something Something Something Something Something Something Something Something Something 
</p>
